@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  font-family: "Poppins";
}
body {
  height: 100vh;
}

#account {
  border-radius: 50%;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

#ricerca {
  box-shadow: 0px 0px 3px 4px #ebebeb;
  margin-top: 35px;
  background-color: white;
  border-radius: 30px;
  padding: 1px 10px 0 0;
  display: inline-block;
}

#ricerca div input:first-child {
  padding: 25px 1px;
  border-radius: 30px 0 0 30px;
  border: none;
}

#ricerca div input:nth-child(2),
input:nth-child(3),
input:nth-child(4) {
  padding: 25px 1px;
  border: none;
  border-left: 1px solid grey;
}

#ricerca div input:nth-child(4) {
  padding-right: 150px;
  border-radius: 0 30px 30px 0;
}

#ricerca div button {
  border-radius: 30px;
  padding: 10px 15px;
  background-color: #fd365b;
  position: relative;
  z-index: 1;
}

header {
  text-align: center;
}

#ricerca div input:nth-child(1):focus,
input:nth-child(2):focus,
input:nth-child(3):focus,
input:nth-child(4):focus {
  background-color: #ebebeb;
}

.dropdown-toggle::after {
  display: none;
}

footer {
  background-color: #f7f7f7;
}

footer div:last-of-type p {
  padding-left: 7%;
}

@media screen and (max-width: 575px) {
  footer h5,
  footer ul {
    text-align: center;
  }
}
