* {
  margin: 0;
  padding: 0;
  background-color: #F8F9FA;
}

.navbar-expand-lg .navbar-collapse {
  justify-content: space-between;
}

img {
  cursor: pointer;
}

#ricerca {
  box-shadow: 0px 0px 1px 1px #ebebeb;
  margin-top: 0px;
  background-color: white;
  border-radius: 30px;
  padding: 1px 10px 0 0;
  display: inline-block;
}

.gallery-container {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px;
  border: solid 1px red;
}

.gallery-items {
  display: flex;
}

h3 {
  font-weight: 600;
}

.large-photo {
  flex: 1.5;
  padding-right: 10px;
}

.large-photo img {
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}

.small-photos img:nth-child(2) {
  border-top-right-radius: 15px;
}

.small-photos img:last-child {
  border-bottom-right-radius: 15px;
}

.small-photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  flex: 1;
}

.gallery-container img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

h4 {
  margin-top: 80px;
}

.gallery-texts {
  display: flex;
  justify-content: space-between;
}

a {
  color: black;
  text-decoration: none;
  padding-right: 5px;
}

a ion-icon {
  font-size: small;
}

article li{
  margin-top: 50px;
  list-style-type: none;
}

::marker {
  font-size: 3em;
}

article li:first-child {
  list-style-image: url(assets/Icons/home-outline.svg);
}

article li:nth-child(2) {
  list-style-image: url(assets/Icons/sparkles-outline.svg);
}

article li:nth-child(3) {
  list-style-image: url(assets/Icons/location-outline.svg);
}

article li:nth-child(4) {
  list-style-image: url(assets/Icons/calendar-outline.svg);
}

article li:last-child {
  list-style-image: url(assets/Icons/book-outline.svg);
}

article li p {
  color: darkgray;
  font-weight: 300;
}

.list-card {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
}

.card {
  border: 0px;
  border-radius: 30px;
  box-shadow: 4px 4px 10px 3px #ccc;
}

.card-header {
  background: #F8F9FA;
  display: flex;
  justify-content: space-between;
}

.card-title {
  background-color: #F8F9FA;
  font-size: 18px;
  font-weight: 400;
}

.card-header p {
  font-size: 10px;
}

@media (max-width: 742px) {
.specs {
  display: none;
}

.gallery-texts {
  display: flex;
  flex-direction: row-reverse;
}

  .card {
    display: none;
  }
}